/* You can add global styles to this file, and also import other style files */
:root {
  --brand: #c3002f;
  --contrast: #00c394;
  --neutral: #eaeaea;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.debug {
  border: 1px dotted red;

  &--blue {
    border: 1px dotted blue;
  }

  &--green {
    border: 1px dotted green;
  }
}