:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.container {
  flex: 1 1 auto;
  height: 100%;
  background: #eee;
}
