@page "/about"
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Use this area to provide additional information.</p>

<div class="row">
    <div class="col-md-6">
        <h3>Our Mission</h3>
        <p>To provide excellent financial management and productivity tools.</p>
    </div>
    <div class="col-md-6">
        <h3>Technology Stack</h3>
        <ul>
            <li>ASP.NET Core 9.0</li>
            <li>Entity Framework Core</li>
            <li>Razor Pages</li>
            <li>Bootstrap 5</li>
        </ul>
    </div>
</div>
