.container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: var(--mat-sys-surface);
  border: 1px solid var(--mat-sys-border);
  border-radius: 1rem;
  padding: 2rem;
  width: 480px;
}

.form-control, button{
  width: 100%;
}