<div class="container">
  <div class="content">
    <h2>Sign in</h2>
    <form>
      <mat-form-field class="form-control">
        <mat-label>Enter your email</mat-label>
        <input type="email" matInput [formControl]="form.controls.email" placeholder="Ex. pat@example.com">
        @if (form.controls.email.hasError('email') && !form.controls.email.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        }
        @if (form.controls.email.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-control">
        <mat-label>Enter your password</mat-label>
        <input [type]="hide() ? 'password' : 'text'" matInput [formControl]="form.controls.password" placeholder="**** ****">
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (form.controls.password.hasError('pattern') && !form.controls.password.hasError('required')) {
        <mat-error>Please enter a strong password</mat-error>
        }
        @if (form.controls.password.hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>   

      <button mat-flat-button class="btn">Continue</button>
    </form>
  </div>
</div>