@use 'template' as *;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0
}

hgroup {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.debug {
  border: 1px dotted red;

  &--blue {
    border: 1px dotted blue;
  }

  &--green {
    border: 1px dotted green;
  }
}
